html,
body {
    height: 100%;
    font-size: 16px;
    font-family: 'Cubano-Regular';
    background: url(../img/pattern.jpg) center center;
}


/* FONT FACES */

@font-face {
    font-family: 'Cubano-Regular';
    src: local('Cubano-Regular.otf'), url('Cubano-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Nunito-Regular';
    src: local('Nunito-Regular.ttf'), url('Nunito-Regular.ttf') format('truetype');
}



#cover {
    height: 100%;
    background: url(../img/trees.jpg) center;
    background-size: cover;
    color: white;
}

.wall-sticker {
    background: rgba(0, 0, 0, 0.4);
    padding: 14rem 20rem 14rem 3rem;
    font-family: 'Cubano-Regular';
    font-size: 5rem;
    color: white;
    max-height: 80%;
}

.moto {
    font-family: 'Cubano-Regular';
    font-size: 4rem;
    margin-top: 12rem;
    margin-left: 20rem;
    text-align: center;
}


/* BUTTONS */

.btn-lg,
.btn-outline-success {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(19, 128, 26, 1);
    font-family: 'Nunito-Regular';
    vertical-align: middle;
    /*    transition: 0.3s;*/
}

.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active,
.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active {
    background-color: rgba(19, 128, 36, 0.6);
    border: 1px solid rgba(19, 128, 26, 0);
    /*    transition: 0.3s;*/
}

.fa-arrow-down {
    margin-left: 35rem;
    margin-top: 50px;
    font-size: 2.5rem;
    color: white;
    transition: 0.3s;
}

.fa-arrow-down:hover {
    color: rgba(19, 128, 36, 0.6);
    transition: 0.3s;
}

.parallax-btn {
    width: 200px;
    margin: 30px auto 0 auto;
}


/* SPANS */

.bold-green {
    color: rgba(19, 128, 36, 0.9);
}

.green-underline {
    border-bottom: 1px solid rgba(19, 128, 36, 1);
}


/* NAVBAR */


/*
nav a {
color: white;
}
*/

.navbar-brand {
    font-family: 'Cubano-Regular';
    padding-right: 15px;
}

#main-nav {
    font-family: 'Nunito-Regular';
}

#main-nav li a {
    border-bottom: 1px solid transparent;
    transition: 0.3s
}

#main-nav li a:hover {
    border-bottom: 1px solid green;
    transition: 0.3s
}


/* SECTION FEATURES*/

.section-features {
    padding: 5rem 0;
    background: url(../img/pattern.jpg) center center;
}
.square {
    text-align: center;
}

.square i {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    transition: 0.3s;
}


.square i:hover {
    color: rgba(19, 128, 36, 1);
    transition: 0.3s;
}

.square p {
    padding-top: 1rem;
    font-family: 'Nunito-Regular';
    font-size: 1.2rem;
}

.green-hr{
    border-top: 1px solid rgba(19, 128, 36, 1);
    width: 150px;
    background-color: rgba(19, 128, 36, 1); 
}

.heading,
.under-heading {
    text-align: center;
}


/* SECTION-TIMELINE */

.section-timeline {
    background-color: white;
    padding: 5rem;
}

.timeline {
    list-style: none;
    padding: 20px 0 80px;
    padding-top:50px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
    height: 300px
}

.timeline > li:before,
.timeline > li:after {
    content: "";
    display: table;

}

.timeline > li: after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 50%;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.timeline p {
    font-family: 'Nunito-Regular';
    font-weight: 700;
}

.timeline > li:not(.timeline-inverted) {
    padding-right: 90px;   
}

.timeline > li.timeline-inverted {
    padding-left: 90px;
}

.timeline > li > .timeline-badge {
    font-size: 1rem; !important
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: rgba(19, 128, 36, 0.82);
    border-radius: 50%
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}


/* SECTION PARALLAX */

#parallax {
    text-align: center;
    background: url(../img/trees.jpg) center repeat fixed;
    padding: 140px 0;
    background-size: cover;
    color: white;
}

/* SECTION CARDS */

#products {
    padding: 5rem 0;
}

.card {
    margin-top: 3rem;
}

.card a {
    color: rgba(19, 128, 36, 0.9);
}
.card a:hover {
    color: rgb(19, 128, 36);
}

.card img {
    transition: 1s;
}

.card img:hover {
    transform: scale(0.98);
    transition: 1s;
}

.card-block {

}

.card-subtitle {

}

/* NUMBERS */

#numbers {
    text-align: center;
    padding: 5rem 0;
    background-color: white;
}

.num-content {
    display: table;
    font-size: 20px;
    line-height: 20px;
    height: 140px;
    width: 140px;
    background: rgba(19, 128, 36, 0.9);
    border-radius: 100%;
    display: table-cell;
    vertical-align: middle;
    color: white;
    transition: 0.3s;
}

.num-content:hover {
    color: #222;
    transition: 0.3s;
}


.num {
    padding: 5rem 0;
    margin-left: 20%;
}

.num p {
    padding-top: 15px;
}


/* TESTIMONIALS */

.section-testimonials {
    padding: 5rem 0;
}

.testimonial {
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.monka-img,
.mario-img,
.monice-img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    transition: 0.5s;
}

.monka-img:hover,
.mario-img:hover,
.monice-img:hover {
    transition: 0.5s;
    transform: scale(0.95);
}


blockquote {
    font-family: 'Nunito-Regular';
}

.testimonials-hr {
    border-top: 1px solid rgba(19, 128, 36, 1);
    width: 100%;
    background-color: 1px solid rgba(19, 128, 36, 1);
}

/* CONTACT */

.section-contact {
    background: white;
    padding: 10rem 0;
}

#contact .col-form-label {
    font-size: 18px;
    line-height: 80%;
}

.form-control {
    font-size 16px;
    font-family: 'Cubano-Regular';
}

.form-horizontal {
    padding: 5rem 0;
}

textarea:focus, input:focus {
    border-color: red !important;
}

#contact .btn.btn-success {
    font-family: 'Cubano-Regular';
    background-color: rgba(19, 128, 36, 1);
    border: 1px solid rgba(19, 128, 36, 1);
    border-radius: 5px;
    margin: 50px 5rem 0 0;
    transition: 0.5s;
}

#contact .btn.btn-success:hover {
    background-color: rgba(19, 128, 36, 0.9);
    border: 1px solid rgba(19, 128, 36, 1);
    transition: 0.5s;
}

/* FOOTER */

footer {
    background-color: #222;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}

.social-links {
    list-style: none;
    float: right;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 35px;
}



.social-links li:last-child {
    margin-right: 0;
}


.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    font-size: 160%;
    transition: 0.3s;
}


.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-twitter-square:hover {
    color: #00aced;
}

.fa-google-plus-square:hover {
    color: #dd4b39;
}

.fa-instagram:hover {
    color: #517fa4;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-google-plus-square,
.fa-instagram {
    transition: 0.3s;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 45px;
    font-size: 18px;
}

.fa-chevron-circle-up {
    margin-top: 35px;
    color: rgb(14, 96, 27);
    transition: 0.2s;
}

.fa-chevron-circle-up:hover {
    margin-top: 35px;
    color: rgba(14, 96, 27, 0.92);
    transition: 0.2s;
}

/* ANIMATIONS */

.js-wp-1 {
    opacity: 0;
}

.js-wp-1.animated {
    opacity: 1;
}


@media only screen and (max-height: 865px) {
    .wall-sticker {
        font-size: 5rem;
        padding: 50% 20rem 100% 20% !important;
    }

}

@media only screen and (max-width: 1200px) {
    .moto {
        font-size: 2rem;
        margin-left: 15rem; 
    }
    .fa-arrow-down {
        position: absolute;
        right: 135px;
    }
    
    .fa-facebook-square,
    .fa-twitter-square,
    .fa-google-plus-square,
    .fa-instagram {
        font-size: 43px;
    }
    .navbar {
        font-size: 13px;
    }
    .monka-img,
    .mario-img,
    .monice-img {
        width: 85px;
        height: 85px;
    }
    
    .testimonials-hr {
        width: 130px;
    }
    
}

@media only screen and (max-width: 770px) {
    .moto {
        display: none;
    }

    .fa-facebook-square,
    .fa-twitter-square,
    .fa-google-plus-square,
    .fa-instagram {
        font-size: 20px;
    }
    
}




 






































